.course {}

.course__title {
  font-size: 23px;
}

.course__sections {
  margin: 20px auto;
}

.body__content--loading img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .course__title {
    font-size: 20px;
    padding-left: 20px;
  }

  .course__sections {
    margin: 10px auto;
  }
}
