body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.body__content {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.content__container {
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 500px) {
  .content__container {
    width: initial;
  }
}
